.breadcrumb {
	background-color: #dddddd;
}

.breadcrumb > .active {
	color: #ff0000;
	font-weight: bold;
}

body {
    margin: 10;
    padding: 0;
}

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gray;
    right: 0.1%;
}
